{% extends 'base.html.twig' %}

{% block body %}
    <p>Url for ajax form submit: {{ path('process.form') }}</p>
    <div class="row">
			 <div class="col-md-10" style="background:red">
				dffffffffffffffffffffff
    		</div>
    </div>


{% endblock %}